@import "color";
@import "navbar";
@import "carousel";

body {
	background-image: url(/images/background.jpg);
	background-repeat: repeat;
	font-family: 'Anonymous Pro', monospace;
	color: black;
}

h1 {
	letter-spacing: 1.05rem;
}

h2 {
	margin-top: 0;
}

a {
	color: black;
}

a:hover {
	color: black;
	text-decoration: underline;
}

a:visited {
	color: black;
}

.logo-text {
	text-align: right;
	margin-top: 400px;
}

.typography-text {
	text-align: right;
	margin-top: 350px;
}

.web-design-title {
	text-align: center;
	padding: 100px 0 30px;
}

.web-design-text {
	margin-top: 220px;
}

@media (max-width: 1200px) {
	.logo-text {
		text-align: right;
		margin-top: 300px;
	}

	.typography-text {
		text-align: right;
		margin-top: 250px;
	}

	.web-design-text {
		margin-top: 115px;
	}

}

@media (max-width: 991px) {
	.logo-text {
		text-align: right;
		margin-top: 140px;
	}

	.typography-text {
		text-align: right;
		margin-top: 90px;
	}

	.web-design-text {
		margin-top: 2px;
	}
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	    color: black; 
	    text-align: center;
	}

	.nav-text {
		display: inline-block;
		margin: 10px 0;
	}

	.web-design-text {
		margin-top: 35px;
	}
}