@import "carousel";

body {
	background-image: url(/images/background.jpg);
	background-repeat: repeat;
	font-family: 'Anonymous Pro', monospace;
	color: black;
}

header {
	background-image: url(/images/landingimage.jpg);
  	background-size: cover;
  	height: 100vh;
}

.nav-text {
	font-size: 2rem;
	color: black;
	padding: 0 20px;
}

.nav-text:hover {
	color: black;
}

.nav-text:visted {
	color: black;
	text-decoration: underline;
}

nav {
    text-align: center;
    opacity: 0.8;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    margin: 20px 0;
}

.primary-logo {
  width: 575px;
}

.aligner {
	display: flex;
	align-items: center;
	min-height: 48.5em;
	justify-content: center;
}

.aligner-item {
	max-width: 80%;
}

h1 {
	letter-spacing: 1.05rem;
}

.logo-text {
	text-align: right;
	margin-top: 75%;
}