body {
	font-family: 'Anonymous Pro', monospace;
	color: black;
}

header {
	background-image: url(/images/landingimage.jpg);
  	background-size: cover;
  	height: 100vh;
/*  	display: flex;
  	flex-flow: column;
    position: relative;*/
}

.nav-text {
	font-size: 2rem;
	color: black;
	padding: 0 20px;
}

.nav-text:hover {
	color: black;
}

.nav-text:visted {
	color: black;
	text-decoration: underline;
}

nav {
    text-align: center;
    opacity: 0.8;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    margin: 20px 0;
}

.primary-logo {
  width: 575px;
}

.aligner {
	display: flex;
	align-items: center;
	min-height: 45em;
	justify-content: center;
}

.aligner-item {
	max-width: 80%;
}

.box {
	background-color: blue;
	height: 500px;
}