<section id="aboutcontact">	
	<div class="row" ng-controller="AboutContactCtrl">

		<div class="about-info">
		  	<div class="col-sm-4 col-sm-offset-2 col-xs-6 about-image">
		  		<img class="img-responsive" src="/images/isabel.jpg">
		  	</div>

		  	<div class="col-sm-5 col-xs-12">
		  		<div class="about-text">
		  			<h4>I like designing things and wearing them to look cool. COOL? Cool.</h4>
		  			<p>My name is Isabel, graphic designer and web developer living in good ol' Music City, USA. When I’m hanging out with my adorable yorkie Teddy or attending all the concerts I possibly can (for research, of course), I am busy creating visual media that is interesting in the most succinct way possible. I am constantly looking to expand my brain with knowledge of both the analog and digital creative processes from pen and ink techniques to coding more proficiently with AngularJS.</p>
		  		</div>
		  	</div>
		  </div>

	</div>

</section>