<div class="contact-info footer-aligner">
	<img class="img-responsive contact-logo" src="/images/bbd_logo-small.png">

	<div class="contact-text">
		<p><strong>DESIGNED AND DEVELOPED BY</strong><br>
			<strong>BADDEST BLUES DESIGN.</strong><br><br>
			<i class="fa fa-envelope" aria-hidden="true"></i>
			<strong>EMAIL</strong><br><a href="mailto:isabel@baddestbluesdesign.com" target="_top">isabel@baddestbluesdesign.com</a><br>
			<i class="fa fa-github" aria-hidden="true"></i>
			<strong>GITHUB</strong><br><a href="http://www.github.com/isabelramos" target="_blank">github.com/isabelramos</a>
		</p>
  	</div>
</div>