<div class="row">
  	<div class="col-sm-6 col-xs-12">
  		<div class="logo-text">
  			<h2>LOGO DESIGN</h2>
  			<p>Keytar pop-up poke everyday carry master cleanse actually kombucha cloud bread dreamcatcher hell of. Glossier VHS kogi ugh gluten-free tacos shaman plaid austin typewriter kinfolk copper mug actually. Microdosing vegan wolf sriracha master cleanse everyday carry trust fund cliche taiyaki meh banh mi yuccie. Banh mi paleo four dollar toast tilde heirloom distillery, chambray irony. </p>
  		</div>
  	</div>

  	<div class="col-sm-6 col-xs-12">
    	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
			  	<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
			</ol>
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
			    <div class="item active">
			    	<img src="/images/bbd_logo.png" alt="First slide">
			    </div>
			    <div class="item">
			    	<img src="/images/bbd_logo.png" alt="Second slide">
			    </div>
			    <div class="item">
			    	<img src="/images/bbd_logo.png" alt="Third slide">
			    </div>
			</div>
			<!-- Controls -->
			<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
		    	<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
		    	<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div><!-- /carousel -->
  	</div>
</div>