<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavCtrl">
    <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle nav-text" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">VIEW WORK</a>
          <ul class="dropdown-menu">
            <li><a id="logo-section" href="#logodesign" du-smooth-scroll du-scrollspy>LOGO DESIGN</a></li>
            <li><a id="typography-section" href="#typography" du-smooth-scroll du-scrollspy>TYPOGRAPHY</a></li>
            <li><a id="web-section" href="#webdesign" du-smooth-scroll du-scrollspy>WEB DESIGN</a></li>
          </ul>
        </li>
        <a class="nav-text" href="#aboutcontact" du-smooth-scroll du-scrollspy>ABOUT + CONTACT</a>
    </ul>
</nav>

<header class="aligner">
		<img class="primary-logo img-responsive aligner-item" src="/images/bbd_logo.png">
</header>