<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavCtrl">
    <ul class="nav navbar-nav">
<!--         <a class="nav-text" ng-href="#!/logodesign">VIEW WORK</a> -->
        <li class="dropdown">
          <a class="dropdown-toggle nav-text" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">VIEW WORK</a>
          <ul class="dropdown-menu">
            <li><a id="logo-section" href="#logodesign">LOGO DESIGN</a></li>
            <li><a id="typography-section" href="#typography">TYPOGRAPHY</a></li>
            <li><a id="web-section" href="#webdesign">WEB DESIGN</a></li>
          </ul>
        </li>
        <a class="nav-text" href="#aboutcontact">ABOUT + CONTACT</a>
    </ul>
</nav>

<header>
	<div class="aligner">
		<img class="primary-logo header-logo img-responsive aligner-item" src="/images/bbd_logo.png">
	</div>
</header>