<section id="webdesign">
    <div class="row" ng-controller="WebDesignCtrl">

      	<h1 class="web-design-title">WEB DESIGN + DEVELOPMENT</h1>

        	<div class="col-sm-6 col-xs-12">
        		<img class="img-responsive webdesign-image" src="/images/taymrecords_photo.jpg">
        	</div>

        	<div class="col-sm-6 col-xs-12">
        		<div class="web-design-text">
        			<h2>THIS AIN'T YOUR MAMA'S RECORDS</h2>
        			<h4>OVERVIEW OF APP</h4>
        			<p>An online vinyl database where record collectors can keep track of their collections online. Collections are displayed in a thumbnail format that when clicked, the user can view more information about the specific record.</p>
        			<h4><a href="">VIEW WEBSITE</a></h4>
        		</div>
        	</div>
    </div>
</section>