header {
  background-image: url(/images/landingimage.jpg);
  background-size: cover;
  height: 100vh; }

.navbar-default .navbar-nav > li > a {
  color: black;
  padding: 0; }

.navbar-default .navbar-nav > li > a:hover {
  color: black;
  text-decoration: underline; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: black;
  background-color: transparent !important; }

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: transparent !important; }

.dropdown-menu > li > a:hover {
  background-color: transparent;
  text-decoration: underline; }

.nav-text {
  font-size: 2rem;
  color: black;
  padding: 0 50px;
  line-height: 1; }

li .dropdown a {
  font-size: 2rem;
  color: black;
  padding: 0 20px; }

.nav-text:hover {
  color: black; }

.nav-text:visted {
  color: black;
  text-decoration: underline; }

nav {
  text-align: center;
  opacity: 0.8; }

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  margin: 20px 0; }

.primary-logo {
  width: 575px; }

.aligner {
  display: flex;
  align-items: center;
  min-height: 48.5em;
  justify-content: center; }

.aligner-item {
  max-width: 80%; }

.carousel-indicators .active {
  background-color: #776953; }

.carousel-indicators li {
  background-color: #af9e85; }

.carousel {
  margin-top: 50px;
  background-color: white; }

.carousel-inner img {
  width: 100%;
  max-height: 600px; }

/*.carousel-control {
    width: 0;
}*/
.carousel-control.left,
.carousel-control.right {
  opacity: 1;
  filter: alpha(opacity=100);
  background-image: none;
  background-repeat: no-repeat;
  text-shadow: none; }

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev,
.carousel-control .icon-next {
  color: #776953;
  position: absolute;
  top: 45%;
  z-index: 5;
  display: inline-block; }

.carousel-control.left span:hover,
.carousel-control.right span:hover {
  opacity: .7;
  filter: alpha(opacity=70); }

/* fade effect */
.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity; }

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0; }

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1; }

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.carousel-fade .carousel-control {
  z-index: 2; }

body {
  background-image: url(/images/background.jpg);
  background-repeat: repeat;
  font-family: 'Anonymous Pro', monospace;
  color: black; }

h1 {
  letter-spacing: 1.05rem; }

h2 {
  margin-top: 0; }

a, a:visited, a:active, a:focus {
  color: black; }

a:hover {
  color: black;
  text-decoration: underline; }

.logo-text {
  text-align: right;
  margin-top: 400px; }

.typography-text {
  text-align: right;
  margin-top: 350px; }

.web-design-title {
  text-align: center;
  padding: 100px 0 30px; }

.web-design-text {
  margin-top: 220px; }

.about-info {
  margin-top: 150px; }

.about-text {
  margin-top: 110px; }

.gradient-box {
  height: 225px;
  margin-top: 5%;
  padding-top: 40px;
  background: -webkit-linear-gradient(right bottom, #ffcb00, #d885ff, #00e4ff);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top right, #ffcb00, #d885ff, #00e4ff);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top right, #ffcb00, #d885ff, #00e4ff);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top right, #ffcb00, #d885ff, #00e4ff);
  /* Standard syntax (must be last) */ }

.contact-logo {
  width: 275px;
  margin-right: 25px; }

.footer-aligner {
  display: flex;
  flex-direction: row;
  justify-content: center; }

@media (max-width: 1199px) {
  .logo-text {
    text-align: right;
    margin-top: 300px; }
  .typography-text {
    text-align: right;
    margin-top: 250px; }
  .web-design-text {
    margin-top: 115px; }
  .about-text {
    margin-top: 10px; } }

@media (max-width: 991px) {
  .logo-text {
    text-align: right;
    margin-top: 140px; }
  .typography-text {
    text-align: right;
    margin-top: 90px; }
  .web-design-text {
    margin-top: 2px; }
  .about-image {
    width: 300px;
    margin-left: 30px; }
  .about-text {
    width: 400px; } }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: black;
    text-align: center; }
  .nav-text {
    display: inline-block;
    margin: 10px 0; }
  .webdesign-image {
    width: 98%;
    margin: 0 1%; }
  .web-design-text {
    margin-top: 35px; }
  .about-image {
    width: 60%;
    margin: 0 20%; }
  .about-text {
    width: 98%;
    margin: 45px 1%; }
  .gradient-box {
    height: 200px;
    padding-top: 4%; } }

@media (max-width: 585px) {
  .footer-aligner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .contact-info {
    margin-top: 25px; }
  .contact-text {
    margin-top: 30px; }
  .gradient-box {
    height: 400px; } }
